#seed
  - if @signed_request
    #signed-request=@signed_request

  #stories-by-friends
    = @by_friends.as_json(:current_user => current_user).to_json.html_safe

  #current-user
    = current_user.as_json(:include => {:friends => {:only => [:id, :email, :image, :name, :first_name, :last_name]}}).to_json.html_safe