#stories-by-friends-seed
  = @by_friends.as_json(:current_user => current_user).to_json.html_safe

#current-user-seed
  - #current_user.cached_friends.clear
  - #current_user.save
  -# current_user.friends  
  = current_user.as_json(:include => {:friends => {:only => [:id, :email, :image, :name, :first_name, :last_name]}}).to_json.html_safe