#seed
  - if @signed_request
    #signed-request=@signed_request

  - %w(in_play_stories top_stories your_stories friends_stories).each do |v|
    %div{:id => v}
      = instance_variable_get("@#{v}").as_json(:current_user => current_user).to_json.html_safe

  #current-user
    = current_user.as_json(:only => [:uid, :first_name, :last_name] ,:include => {:friends => {:methods => :name, :only => [:uid, :first_name, :last_name]}}).to_json.html_safe

  #leaders
    = current_user.friends_and_myself.select{|f| f.score > 0}.map{|f| {:name => f.name, :score => f.score}}.to_json.html_safe