- if flash[:notice]
  .alert.alert-info.fade.in
    %button.close{"data-dismiss" => "alert"} ×
    %strong Hey!
    = flash[:notice]
  
- if flash[:error]
  .alert.alert-error.fade.in
    %button.close{"data-dismiss" => "alert"} ×
    %strong Hey!
    = flash[:error]
  
