%footer#pagefooter
  &copy; Forward Labs, 2012
  %nav
    %ul
      %li= link_to "Contact Us", contacts_url
      %li= link_to "Privacy Policy", "/privacy"
      %li= link_to "Terms of Service", "/terms"