%footer#pagefooter
  &copy; UberTales, 2012
  %nav
    %ul
      %li= link_to "Contact Us", contacts_url
      %li= link_to "Privacy Policy", privacy_url
      %li= link_to "Terms of Service", terms_url