#after-new-line-dialogue.modal.hide
  .modal-header
    %button.close-modal{"data-dismiss" => "modal"} ×
    %h3.new-story-banter "Wow, that line will be quoted for centuries to come!"
  .modal-body
    %h4 On UberTales everyone gets a chance to write a line in the stories. Invite some friends to make sure your story gets finished!
  .modal-footer
    - if @story.users.count > 1
      %a.btn.btn-primary.invite-friends-back{:href => "#", "data-friend-ids" => (@story.users.reject{|u| u.id == current_user.id }.map(&:uid).join(","))} Invite #{friends_to_invite_names(@story)} back to the story
    %a.btn.btn-primary.invite-friends{:href => "#"} Invite more friends
