#continue-story-dialogue.modal.hide
  .modal-header
    %button.class{"data-dismiss" => "modal"} ×
    %h3 Creative title
  .modal-body
    = render :partial => "friends_list"
  .modal-footer
    %a.btn{:href => "#", "data-dismiss" => "modal"} Close
    %a.btn.btn-primary.continue-story{:href => "#"} Invite Friends
