#new-story-dialogue.modal.hide
  .modal-header
    %button.class{"data-dismiss" => "modal"} ×
    %h3 You're almost done!
  .modal-body
    A story is funny only if it's written by a few friends together. Invite your friends to continue your story!
  .modal-footer
    %a.btn{:href => "#", "data-dismiss" => "modal"} Cancel
    %a.btn.btn-primary.start-story{:href => "#"} Invite friends to your story
