#no-friends-dialogue.modal.hide
  .modal-header
    %button.close-modal{"data-dismiss" => "modal"} ×
    %h3 Sorry but you need to invite some friends...
  .modal-body
    %h4 On UberTales everyone gets a chance to write a line in the stories. Invite some friends to make sure your story gets finished!
  .modal-footer
    %a.btn{:href => "#", "data-dismiss" => "modal"} I have no friends
    %a.btn.btn-primary.start-story{:href => "#"} Invite friends to help write this story
