.story-intro
  .wrapper
    .title= truncate(story.lines.first.text)
    
    - story.lines.each do |line|
      = render :partial => "line", :locals => {:line => line}
    .full-story-link= link_to 'Full story', story_url(story)
    
    = render :partial => "add_line_small", :locals => {:story => story}
  .sharing
    .fb-like{"data-href" => story_url(story), "data-send" => "false", "data-show-faces" => "false", "data-width" => "220"}