#line-added-dialogue.modal.hide
  .modal-header
    %button.close-modal{"data-dismiss" => "modal"} ×
    %h3.title Cool! This line will be quoted for centuries to come!
  .modal-body
    .flash
    You've scored 10 points for writing this line!
  .modal-footer
    =#%a.btn.btn-primary.go-home{:href => "#"} Go to UberTales home
