#modal-dialogue.modal.hide
  .modal-header
    %button.close-modal{"data-dismiss" => "modal"} ×
    %h3.title
  .modal-body        
  .modal-footer
    =#%a.btn.btn-primary.go-home{:href => "#"} Go to UberTales home
