#select-friends.modal.hide
  .modal-header
    %button.close-modal{"data-dismiss" => "modal"} ×
    %h3.new-story-banter Select your friends
  .modal-body
    .filter= text_field_tag :filter    
    .friends-list
  .modal-footer
    %a.btn.go-back{:href => "#"} Don't add more players
    %a.btn.btn-primary.add-friends.disabled{:href => "#"} Add these friends
