#select-friends.modal.hide
  .modal-header
    %button.close-modal{"data-dismiss" => "modal"} ×
    %h3.new-story-banter Select your friends
  .modal-body
    Let's pretend you see the list of your friends here
  .modal-footer
    %a.btn.go-back{:href => "#"} Go back
    %a.btn.btn-primary.add-friends{:href => "#"} Add these friends
