#select-friends.modal.hide
  .modal-header
    %button.close-modal{"data-dismiss" => "modal"} ×
    %h3.speech Invite friends and get their creative juices flowing!
  .modal-body
    .filter
      %label(for="filter") Search for friends: 
      = text_field_tag :filter    
    .friends-list
  .modal-footer
    %a.btn.btn-primary.add-friends.disabled{:href => "#"} Add these friends
