#story-nudge-dialogue.modal.hide
  .modal-header
    %button.close-modal{"data-dismiss" => "modal"} ×
    %h3.new-story-banter Go on, give them a little nudge
  .modal-body
    We'll send the friends writing this story a little nudge to let them know you're waiting...
  .modal-footer
    %a.btn.btn-primary.nudge{:href => "#"} Nudge now!
