#story-started-dialogue.modal.hide
  .modal-header
    %button.close-modal{"data-dismiss" => "modal"} ×
    %h3.new-story-banter What a lovely start!
  .modal-body
    As soon as your friends start adding their lines, then the game is on (and you get 10 points for each line they write)!!!
  .modal-footer
    %a.btn.btn-primary.share{:href => "#"} Share on your wall
