@import "compass"

$width: 750px
$height: 550px
$headerHeight: 60px
$footerHeight: 60px
$sidebarWidth: 250px

#seed, .hide
  display: none
  
header > div, #container > *, footer li
  display: inline-block
    
#game
  width: 750px
  height: 550px
  overflow: hidden
  border: 1px solid red
  margin: 0 auto
  
header, footer
  text-align: center

header
  height: $headerHeight
  h1
    font-size: 24px
    margin: 0.2em 0 0
    line-height: 1.1em
  h2
    font-size: 14px
    margin: 0
    line-height: 1.2em
  
footer
  height: $footerHeight
  clear: both
  
#content
  height: $height - $headerHeight - $footerHeight
  width: $width - $sidebarWidth
  overflow: scroll
  float: left
  
  .story
    .line
      overflow: hidden
      padding: 20px 20px 0
    .profile-picture
      width: 40px
      height: 40px
      float: left
      img
        width: 100%
        height: 100%
        
    .name-text
      width: 400px
      float: left
      margin-left: 20px
      p
        margin: 0
        
  
#sidebar
  vertical-align: top
  overflow: scroll
  height: $height - $headerHeight - $footerHeight
  width: $sidebarWidth
  float: right
  
  #sidebar-bottom
    .author
      overflow: hidden
      padding-top: 10px
    .photo
      width: 30px
      height: 30px
      float: left
      img
        width: 100%
        height: 100%
    .name
      width: 210px
      float: right
      
  
.close-modal
  float: right

.story-intro
  & > div
    display: inline-block