@import "compass"

$width: 750px
$height: 550px
$headerHeight: 105px
$footerHeight: 25px
$sidebarWidth: 320px
$headingFont: "Comfortaa", Arial, sans-serif

body
  margin: 0
  padding: 0

#seed, .hide
  display: none
    
#game
  width: 750px
  height: 550px
  overflow: hidden
  background: #591b00 image-url("global/background-main.jpg") 0 0 no-repeat
  margin: 20px auto 0 auto
  border: 1px solid #000

header
  height: $headerHeight
  overflow: hidden
  font-family: $headingFont
  font-size: 24px
  font-weight: bold
  text-shadow: 2px 2px 0 #000
  #score
    width: 190px
    float: left
    text-align: center
    color: #ffc400
    margin-top: 10px

  #badges
    width: 190px
    float: right
    text-align: center
    color: #ffc400
    margin-top: 10px
  #score-count, #badge-list
    width: 80%
    margin: 5px auto 0 auto
    border: 2px solid #531d00
    @include border-radius(20px)
    @include background-image(linear-gradient(#4f1a00,#913600))
    @include single-box-shadow(#531d00, 0, 0, 10px, 0, true)
    padding: 6px 0
    color: #fff
  #logo
    float: left
    width: 291px
    margin: 5px 0 0 45px

  #homelink
    text-align: center
    clear: both
    font-size: 12px
    text-shadow: 0 0 0 transparent
    a
      &:link, &:visited
        color: #fff
        text-decoration: none
      &:hover, &:active
        color: #ddd
        text-decoration: underline

  
#content
  height: $height - $headerHeight - $footerHeight - 40px
  width: $width - $sidebarWidth - 40px
  float: left
  padding: 20px
  
  .story
    background: #e3ebf8
    height: 370px
    @include single-box-shadow(rgba(0,0,0,0.8), 3px, 3px, 0)    
    .viewport
      height: 370px

  .line
    overflow: hidden
    // padding: 20px
    margin-bottom: 20px
    .profile-picture
      float: left
      padding: 8px
      background: #ced3dd
      @include border-radius(10px)
      .count
        float: left
        margin: 8px 8px 0 0
      img
        float: right
        width: 30px
        @include single-box-shadow(rgba(0,0,0,0.5), 2px, 2px, 0)
    .text
      float: right
      width: 278px      
      margin-left: 0.5em
      p
        margin: 0 0 0.5em 0


  #list-nav
    margin: 0 0 0 0
    padding: 0
    list-style: none
    overflow: hidden
    @include background-image(linear-gradient(#4f1a00,#913600))
    @include single-box-shadow(#531d00, 0, 0, 10px, 0, true)
    width: 90%
    li
      float: left
      width: 50%
      text-align: center
      a
        display: block
        text-decoration: none
        padding: 0.6em 0
        width: 100%
        color: #999
        text-shadow: 1px 1px 0 #000
      &.active
        a
          color: #4f1a00
          background-color: #e3ebf8
          text-shadow: 0 1px 0 rgba(255,255,255,1)

  #completed
    padding-top: 10px
  .nav-tabs
    margin: 0 7px 5px 7px
    padding: 0
    list-style: none
    overflow: hidden
    li
      float: left
      text-align: center
      background: #898e94
      border: 2px solid #b4bbc4
      border-width: 2px 1px
      a
        color: #fff
        text-decoration: none
        font-size: 14px
        padding: 7px 20px
        display: block
      &:first-child
        @include border-corner-radius(top, left, 10px)
        @include border-corner-radius(bottom, left, 10px)
        border-left-width: 2px
      &:last-child
        @include border-corner-radius(top, right, 10px)
        @include border-corner-radius(bottom, right, 10px)
        border-right-width: 2px
      &.active
        background-color: #f2efef
        @include background-image(linear-gradient(#f2efef, #e1e1e1 30%, #f6f6f6))
        a
          color: #371a00

  #list-panes
    @include single-box-shadow(rgba(0,0,0,0.8), 3px, 3px, 0)
    height: 340px
    overflow: hidden
    .list-pane
      background: #e3ebf8
      height: 340px

  .list-pane, .tab-pane
    display: none
    &.active
      display: block

  #completed
    .scrollPane
      .viewport
        height: 300px

  .story-intro
    overflow: hidden
    padding: 10px 10px 8px 10px
    background: #93c0e0
    @include border-radius(10px)
    margin-bottom: 10px
    width: 335px
    &.your-turn
      background: #b1d9a4
    .author-picture
      width: 50px
      float: left
      margin-right: 10px
      img
        @include single-box-shadow(rgba(0,0,0,0.4), 2px, 2px, 0)
    .detail
      width: 170px
      float: left
      font-size: 12px
      h2
        font-size: 14px
        margin: 0
    .btn
      float: right
      margin-top: 4px

  #completed
    .story-intro
      padding: 10px
      background: #b6e6ae
      .author-picture
        width: 30px
        img
          width: 30px
      .btn
        margin-top: 0
        padding: 8px 18px
  #list-panes
    .scrollPane
      .viewport
        height: 340px


#story-lists
  .scrollPane
    .viewport    
      height: 370px

#sidebar-bottom
  .scrollPane
    .viewport    
      height: 200px

.scrollPane
  .viewport    
    overflow: hidden
    position: relative
  .overview
    list-style: none
    position: absolute
    left: 0
    top: 0
    padding: 15px 10px
    margin: 0
  .scrollbar
    background: transparent image-url("scroll/bg-scrollbar-track-y.png") no-repeat 0 0
    position: relative
    background-position: 0 0
    float: right
    width: 15px
  .track
    background: transparent image-url("scroll/bg-scrollbar-trackend-y.png") no-repeat 0 100%
    height: 100%
    width: 13px
    position: relative
    padding: 0 1px
  .thumb
    background: transparent image-url("scroll/bg-scrollbar-thumb-y.png") no-repeat 50% 100%
    height: 20px
    width: 25px
    cursor: pointer
    overflow: hidden
    position: absolute
    top: 0
    left: -5px
    .end 
      background: transparent image-url("scroll/bg-scrollbar-thumb-y.png") no-repeat 50% 0
      overflow: hidden
      height: 5px
      width: 25px
  .disable
    display: none
  
#sidebar
  vertical-align: top
  height: $height - $headerHeight - $footerHeight
  width: $sidebarWidth
  float: right
  #sidebar-top
    padding: 20px 20px 0 0
    text-align: center
    .facebook
      padding: 10px
      background: rgba(249,243,161,0.4)
      @include border-radius(10px)
    .btn
      margin: 20px 0

  #sidebar-bottom
    padding: 0 20px 0 0
    .author
      overflow: hidden
      padding-top: 10px
    .photo
      width: 30px
      height: 30px
      float: left
      img
        width: 100%
        height: 100%
    .name
      width: 210px
      float: right

    h3
      margin: 0 0 0.5em 0
      font-family: $headingFont
      font-size: 24px
      color: #ffc400
      text-shadow: 2px 2px 0 #000
      text-align: center

    #author-list
      @include single-box-shadow(rgba(0,0,0,0.8), 3px, 3px, 0)
      background: #f9f3a1
      height: 200px
      
  
.close-modal
  float: right

  
footer
  height: $footerHeight
  clear: both
  color: #fff
  text-align: center
  font-size: 11px
  a
    &:link, &:visited
      color: #ccc
      text-decoration: none
    &:hover, &:active
      color: #fff
      text-decoration: underline
  p, nav, ul, li
    display: inline
    margin: 0
    padding: 0
  p
    padding: 0 3px 0 0 
  li
    border-left: 1px solid #666
    padding: 0 4px 0 8px

