// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story-intro
  background-color: #EEE
  margin-bottom: 20px
  .wrapper
    padding: 5px
  .title
    text-align: center
    height: 30px
  .line-number
    float: right
  .name-text, .profile-picture
    display: inline-block
  .full-story-link
    text-align: right
  .new-line
    form
      margin-bottom: 0
    .profile-picture, .new-line-small
      display: inline-block
    .new-line-small
      textarea
        resize: none
        height: 22px
        width: 160px
    .new-line-submit
      text-align: right
  .profile-picture
    width: 50px
    vertical-align: top
    text-align: right
    img
      width: 30px
      height: 30px
  .sharing
    background-color: white

.story, .story-intro
  .blurred
    color: transparent
    text-shadow: 0 0 15px rgba(0,0,0,0.8)
    
