// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.story
  background-color: #f9f8f3
  box-shadow: 0 0 15px #666
  width: 700px
  margin: 20px
  padding: 10px
  .line
    margin-top: 5px
    .profile-picture, .name-text
      vertical-align: top
      display: inline-block
    .name-text
      width: 600px
    .user-name
      color: #51628e
      font-weight: bold
      margin-bottom: 5px
    .line-text
      font-size: 18px
  .add-new-line, .invite-friends-line
    margin-top: 5px    
    & > div
      display: inline-block
    .form, .button
      margin-top: 10px
  .new-line, .form-submit
    display: inline-block
    vertical-align: top


.story-intro
  margin-right: 20px
  margin-bottom: 40px
  position: relative
  z-index: 0
  cursor: pointer
  .cover
    *
      text-align: center
      margin: 0 auto
    color: white
    font-weight: bold
    font-size: 12px
    width: 250px
    height: 281px
    background-image: image-url('black-notebook-bg-transparent.png')
    padding-top: 50px 
    position: relative
    &:hover
      .peel
        display: block
    .peel
      width: 58px
      height: 58px
      background: transparent image-url("black_notebook_peel.png") 0 0 no-repeat
      position: absolute
      bottom: 2px
      right: 10px
      display: none
    .started-by, .author-name, .then-by
      width: 140px  
      font-family: "Damion", Arial, sans-serif
      font-size: 20px
      font-weight: normal
      line-height: 1.3em
    .started-by
      color: #cccccc
    .first-line
      font-size: 14px
      color: #98CBFE
      height: 50px
    .then-by, .first-line
      margin-top: 10px      
    .other-authors
      img
        width: 30px
        height: 30px
    
  .write-now
    width: 70px
    height: 55px
    border-radius: 3px
    top: -25px
    position: absolute
    font-weight: bold
    padding: 5px 10px 15px
    box-shadow: 0 0 15px #AAA
    a
      color: white
    z-index: -1
    .feather
      width: 30px
      height: 30px
      margin: 0 auto
      display: none
  .write-now-style-1
    background-color: #3699cc
    -webkit-transform: rotate(7deg)
    right: 25px
    .feather
      -webkit-transform: rotate(7deg)
    
  .write-now-style-2
    height: 50px
    background-color: #fe6666
    -webkit-transform: rotate(-5deg)
    right: 35px
    .feather
      -webkit-transform: rotate(-5deg)
    
  .write-now-style-3
    height: 50px
    background-color: #55c819
    -webkit-transform: rotate(-2deg)
    right: 45px
    .feather
      -webkit-transform: rotate(-2deg)
    

.story, .story-intro
  .blurred
    color: transparent
    text-shadow: 0 0 15px rgba(0,0,0,0.8)
    
