@import "compass"

.story
  background-color: #fdf9ea
  @include single-box-shadow(rgba(0,0,0,0.3),2px,2px,15px)
  @include border-radius(6px,6px)
  width: 700px
  margin: 20px 20px 20px 10px
  padding: 10px 0
  .ie7 &, .ie8 &
    border: 1px solid #ccc
  .line
    padding: 15px 10px
    @include pie-clearfix
    -webkit-box-shadow: inset 0 8px 10px -6px rgba(0,0,0,0.1)
    -moz-box-shadow: inset 0 8px 10px -6px rgba(0,0,0,0.1)
    box-shadow: inset 0 8px 10px -6px rgba(0,0,0,0.1)
    &:first-child
      -webkit-box-shadow: none
      -moz-box-shadow: none
      box-shadow: none
    .profile-picture, .name-text
      vertical-align: top
      float: left
    .profile-picture
      width: 60px
    .name-text
      width: 600px
    .user-name
      color: #51628e
      font-weight: bold
      margin-bottom: 5px
    .line-text
      font-size: 18px
      line-height: 1.2em
      margin: 0
  .add-new-line, .invite-friends-line
    margin-top: 5px    
    padding: 10px
    & > div
      display: inline-block
    .form, .button
      margin-top: 10px
  .new-line, .form-submit
    display: inline-block
    vertical-align: top
  .add-new-line, .invite-friends-line
    padding: 10px
    .profile-picture
      float: left
      width: 60px
    input[type="text"]
      padding: 0.7em 0.8em
      width: 570px
    .form
      margin-top: 5px
    .form-submit
      display: block


.story-intro
  margin: 30px 20px 40px 0
  position: relative
  z-index: 0
  cursor: pointer
  .cover
    *
      text-align: center
      margin: 0 auto
    color: white
    font-weight: bold
    font-size: 12px
    width: 250px
    height: 281px
    background-image: image-url('black-notebook-bg-transparent.png')
    padding-top: 50px 
    position: relative
    &:hover
      .peel
        display: block
    .peel
      width: 58px
      height: 58px
      background: transparent image-url("black_notebook_peel.png") 0 0 no-repeat
      position: absolute
      bottom: 2px
      right: 10px
      display: none
    .started-by, .author-name, .then-by
      width: 140px  
      font-family: "Damion", Arial, sans-serif
      font-size: 20px
      font-weight: normal
      line-height: 1.3em
    .started-by
      color: #cccccc
    .first-line
      font-size: 14px
      color: #98CBFE
      height: 50px
    .then-by
      margin-top: 30px      
    .other-authors-images
      margin: 5px 0
      img
        width: 30px
        height: 30px
    
  .write-now
    width: 70px
    height: 55px
    border-radius: 3px
    top: -25px
    position: absolute
    font-weight: bold
    padding: 5px 10px 15px
    box-shadow: 0 0 15px #AAA
    a
      color: white
    z-index: -1
    .feather
      width: 30px
      height: 30px
      margin: 0 auto
      display: none
  .write-now-style-1
    background-color: #3699cc
    -webkit-transform: rotate(7deg)
    right: 5px
    .feather
      -webkit-transform: rotate(7deg)
    
  .write-now-style-2
    height: 50px
    background-color: #fe6666
    -webkit-transform: rotate(-5deg)
    right: 5px
    .feather
      -webkit-transform: rotate(-5deg)
    
  .write-now-style-3
    height: 60px
    background-color: #55c819
    -webkit-transform: rotate(3deg)
    right: 5px
    top: -40px
    &:hover
      background-color: lighten(#55c819, 10%)
    a
      display: block
      line-height: 1em
      color: #000
      padding: 3px 30px 0 0
      &:hover, &:active
        text-decoration: none
    .feather
      -webkit-transform: rotate(3deg)
      display: block
      position: absolute
      right: 8px
      top: 12px
    

.story, .story-intro
  .blurred
    color: transparent
    text-shadow: 0 0 15px rgba(0,0,0,0.8)
    .ie8 &
      color: #999
      filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=6)
      -ms-filter: "progid:DXImageTransform.Microsoft.Blur(pixelRadius=6)"
    .ie7 &
      color: #999
      background: image-url("ie7-blur.png") 0 3px
    
